<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
  <h1> List questions of test "<%= @test.title %>" </h1>

  <table>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>
