<tr>
  <td><%= link_to "#{gist.question.body.to_s[0,24]}..?", admin_question_path(gist.question)%> </td>
  <td><%= link_to t("gist.index.show"), gist.url, target: "_blank" %></td>
  <td><%= gist.user.email %></td>

</tr>
