<h1> The <%= t(".header", title: @test_passage.test.title) %> </h1>

  <% if @test_passage.success? %>
    <p> Ваш результат: <span class="result_green"><%= @test_passage.result %>%</span></p>
    <p>Тест пройден успешно</p>
  <% else %>
        <p> Ваш результат: <span class="result_red"><%= @test_passage.result %>%</span></p>
        <p>Тест провален!</p>
  <% end %>

  <%= link_to 'List tests', :root %>
