<footer class="navbar-footer navbar-light bg-light">
<span class="navbar-text">
  <p><%= current_year %></p>
  <p>Черняк Александр</p>
  <p><a href=<%= github_url("snblack", "test-guru") %> target="_blank">Test-guru</a> | Тесты для IT индустрии</p>
  <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></p>
</span>

</footer>
